.custom-toggle {
  // position: relative;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;

  display: flex;
  width: 500px;
  // padding: 14px 0 10px 36px;

  @media screen and (max-width: 767px) {
    padding: 14px 0 10px 0;
    width: 100%;
  }

  // &:last-of-type {
  // 	padding: 14px 0 58px 36px;

  // 	@media screen and (max-width: 767px) {
  // 		padding: 14px 0 58px 0;
  // 	}
  // }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;
    padding-left: 20px;

    cursor: pointer;

    span {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background: transparent;
      border-radius: 2px;
      opacity: 0.5;
      width: 15px;
      height: 15px;
      border: 1px solid $color-default-white;
      transition: border 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        background:
          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 11 8'%3E%3Cpath fill='%23fff' d='M4.15477 7.45034a1.19288 1.19288 0 0 1-.84618-.35294L1.04447 4.83328a1.1965 1.1965 0 0 1-.01101-1.70337 1.19652 1.19652 0 0 1 1.70337.0119l1.41794 1.41882L7.97359.74181a1.19668 1.19668 0 0 1 1.69235 0 1.19664 1.19664 0 0 1 .35046.84618c0 .31737-.12604.62175-.35046.84617l-4.66853 4.665a1.19644 1.19644 0 0 1-.84264.35118Z'/%3E%3C/svg%3E")
            no-repeat center / 11px,
          linear-gradient(266.56deg, rgba(107, 171, 43, 0.2) 0%, rgba(132, 213, 44, 0) 100%),
          linear-gradient(to left, #84d52c, #84d52c);

        box-shadow:
          inset 3px 5px 12px 0px rgba(255, 255, 255, 0.36),
          0px 10px 27px 0px rgba(30, 29, 46, 0.3);
        border-radius: 2px;
        width: 15px;
        height: 15px;
        transform: translate(-50%, -50%);

        transition: opacity 0.3s ease;
      }
    }

    .custom-toggle__label {
      color: $color-nobel;
      font-size: 16px;
      line-height: 147%;
      font-weight: 400;

      transition: color $trans-default;
    }
  }

  &--radio {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 28px;
      height: 28px;

      border: 1px solid #2c39f2;
      border-radius: 50%;

      transition: border 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 20px;
        height: 20px;

        color: rgba(255, 255, 255, 0);

        border-radius: 50%;
        transform: translate(-50%, -50%);

        transition: color 0.3s ease;
      }
    }
  }

  &--badge {
    .custom-toggle__label {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      padding: 12px 20px 12px 20px;
      gap: 10px;
      border-radius: 10px;
      border: double 2px transparent;
      background: #353542, linear-gradient(174.36deg, rgba(132, 213, 44, 0.36) 0%, rgba(23, 23, 34, 0) 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;

      transition:
        background $trans-default,
        box-shadow $trans-default;
    }

    input:checked ~ .custom-toggle__label {
      box-shadow: 0px 3px 15px 0px rgba(132, 213, 44, 0.2);
      border: double 2px transparent;
      background:
    /* Фоновый цвет */
        #212129,
        /* Первый фоновый градиент */ linear-gradient(174.36deg, rgba(132, 213, 44, 0.36) 0%, rgba(23, 23, 34, 0) 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;

      transition:
        background $trans-default,
        box-shadow $trans-default;
    }
  }

  input:checked + .custom-toggle__icon {
    opacity: 1;
    &::before {
      opacity: 1;
    }
  }

  input:checked ~ .custom-toggle__label {
    color: $color-default-white;
  }

  &.is-invalid {
    label span {
      color: #ff1553;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
