.header {
  background-color: $color-black-russian;
  padding-top: 22px;

  & .container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  &__logo {
    color: $color-default-white;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
}
